@model IEnumerable<Store_ASP.NET_Project.Models.ReviewTbl>


@{
    ViewBag.Title = "Index";
}

<h2>Customers Reviews</h2>

<p style="float:right">
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Reviews", FormMethod.Post))
{
    @Html.DropDownList("productCategory", null, htmlAttributes: new { @class = "form-control" })

    <input id="Submit1" type="submit" value="Go to This Category" />
}

@foreach (var item in Model)
{
    <hr />
    <div>
        <h4>@Html.DisplayFor(modelItem => item.Subject)</h4>
        <h5>by @Html.DisplayFor(modelItem => item.UsernameComment)</h5>
        <p>@Html.DisplayFor(modelItem => item.Comment)</p>
    </div>

}





